.wrapper{
  display:grid;
  grid-template-rows: auto, 1fr, auto;
  height:100vh;
}

body{
  background-color: #33354D;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:white;
  border-color: #292a38;
}